@{
    Layout = "~/Views/Shared/_SuperLayout.cshtml";
}

@section Menu {
     <ul class="nav nav-pills pull-right">
          <li>
            @Html.ActionLink("Home", "Index", "Home")
          </li>
          <li class="active">
            @Html.ActionLink("About", "About", "Home")
          </li>
          <li>
              @Html.ActionLink("Contacts", "Contact", "Home")
          </li>
            <li>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
}

<h2>About section text goes here</h2>